.my-container{
    width: 600px;
    margin: 0 auto;
}

.done {
    color : green
}

.not-done{
    color : red
}

li div{
    cursor: pointer;
}

ul {
    padding: 0;
}

li{
    box-shadow: 0px 0px 15px 9px black;
}

.delete-btn{
    width: 30px;
    height: 30px;
    line-height: 25px;
    border-radius: 50%;
    background-color: lightblue;
    color: black;
}

.fa-xmark{
    padding-right: 1px;
}